[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/turok-m-a
[access "refs/for/refs/*"]
	read = group user/turok-m-a
	push = group user/turok-m-a
	label-Code-Review = -2..+2 group user/turok-m-a
	label-Verified = -1..+1 group user/turok-m-a
	rebase = group user/turok-m-a
	removeReviewer = group user/turok-m-a
	submit = group user/turok-m-a
	labelAs-Code-Review = -2..+2 group Registered Users
[access "refs/heads/*"]
	read = group user/turok-m-a
	create = group user/turok-m-a
	push = +force group user/turok-m-a
	pushMerge = group user/turok-m-a
	label-Code-Review = -2..+2 group Registered Users
	labelAs-Code-Review = -2..+2 group user/Aseedr
	labelAs-Code-Review = -2..+2 group user/tatianic
	label-Verified = -1..+1 group Registered Users
	labelAs-Verified = -1..+1 group user/Aseedr
	labelAs-Verified = -1..+1 group user/tatianic
[access "refs/tags/*"]
	push = +force group user/turok-m-a
	pushTag = group user/turok-m-a
	pushSignedTag = group user/turok-m-a
